.pokemon__details {
    text-shadow: none;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0px 2px 10px grey;
    padding: 10px 0;
    color: var(--dark-grey);
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.pokemon__details h3{
    font-family: 'Anton', sans-serif;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 0;
}

.pokemon__details h4{
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 0;
}

.pokemon__details span{
    color: var(--grey);
    font-size: 13pt;
}