.search__results__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    grid-auto-rows: 300px;
}