.search{
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
    width: 90%;
    max-width: 900px;
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
}

.search__form {
    width: 100%;
    height: 50%;   
}

.search__input{
    width:100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 2px 10px grey;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 10pt;
    border: none;
    border: 2px solid transparent;
    padding: 0;
}

.search__input:focus, .search__input:hover{
    outline: none;
    border: 2px solid goldenrod;
}

.search__matches{
    width: 100%;
    max-height: 55vh;
    border-radius: 20px;
    box-shadow: 0px 2px 10px grey;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    border: none;
    background-color: white;
    position: absolute;
    overflow-y: auto;
    top: 80%;
}

.search__matches__list {
    padding: 0;
    margin: 0;
}

.search__matches__list-item {
    list-style: none;
    box-shadow: inset 0 -1px 0 0 var(--very-light-grey);
}

.search__matches__list-error{
    color: var(--red);
}

.search__matches__list-item a{
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 13pt;
    padding: 10px 0;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 40px;
    grid-template-areas:
        ". i i i i s s s s s s s"
        ". i i i i u u u u u u u";
    align-items: center;
    justify-items: center;
}

.search__matches__list-item a:hover{
    cursor: pointer;
    background-color: var(--very-light-yellow-grey);
}

.search__matches__list-item img {
    grid-area: i;
    max-height: 100px;
    max-width: 100%;
    mix-blend-mode: multiply;
}

.search__matches__list-item span {
    grid-area: s;
} 

.search__matches__list-item ul {
    grid-area: u;
    padding: 0;
    list-style-type: none;
}

.search__matches__list-item .pokemon__type {
    font-size: 8pt;
}

@media screen and (min-width: 768px) and (min-height: 600px){
    .search__input{
        font-size: 15pt;
    }
    
    .search__matches{
        font-size: 16pt;
    }

    .search__matches__list-item a{
        font-size: 16pt;
        grid-template-rows: 70px 50px;
    }

    .search__matches__list-item img {
        max-height: 120px;
    }

    .search__matches__list-item .pokemon__type {
        font-size: 12pt;
        padding: 10px;
    }
} 

@media screen and (max-height: 600px) and (orientation: landscape){
    .search{
        grid-column: 2/3;
        grid-row: 1 / 2;
    }    
}
