:root {
    --very-light-grey: #dddde5;
    --very-light-yellow-grey: #e5e3dd;
    --grey: #3a3a3a;
    --dark-grey: #292929;
    --light-red: #F79696;
    --red: #CF5D5D;
    --dark-red: #A93333;
    --light-orange: #F7C296;
    --orange: #CF915D;
    --dark-orange: #A96933;
    --light-yellow: #F7DA96;
    --yellow: #CFAD5D;
    --dark-yellow: #A98633;
    --light-blue: #96B5C2;
    --blue: #3E6E82;
    --dark-blue: #24556A;
    --light-green: #78C678;
    --green: #4AA64A;
    --dark-green: #298729;
    --light-purple: #BC9AC7;
    --purple: #774089;
    --dark-purple: #5E2570;
  }

html, body {
    font-family: 'Anton', sans-serif;
    margin:0;
    padding:0;
    font-size: 100%;
    vertical-align: baseline;
    top: 0;
}

#root {
    position: relative;
    height: max-content;
    min-height: 68vh;
}

main {
    margin: 32vh 10px 50px 10px;
    color: var(--dark-grey);
}

.error, .centered{
    text-align: center;
}

.pokemon--grass, .pokemon--bug,  .pokemon--dragon{
    background-color: var(--light-green);
    color: var(--dark-green)
}

.pokemon--poison, .pokemon--psychic, .pokemon--ghost{
    background-color: var(--light-purple);
    color: var(--dark-purple)
}

.pokemon--electric, .pokemon--fairy {
    background-color: var(--light-yellow);
    color: var(--dark-yellow)
}

.pokemon--fire, .pokemon--ground {
    background-color: var(--light-orange);
    color: var(--dark-orange)
}

.pokemon--flying, .pokemon--water, .pokemon--ice {
    background-color: var(--light-blue);
    color: var(--dark-blue)
}

.pokemon--normal, .pokemon--fighting, .pokemon--rock {
    background-color: var(--light-red);
    color: var(--dark-red)
}

@media screen and (min-width: 768px){
    main{
        margin-left:50px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 1024px){
    main{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        max-width: 1400px;
    }
}


